@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<hr />
@if(TempData["error"] != null)
{
   <p style="color: red; border: 1px solid red; padding: 10px; background-color: #ffe6e6; border-radius: 5px; font-weight: bold;">
        @TempData["error"].ToString()
        </p>

}

 